streamlit
numpy
pandas
scikit-learn

dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase
bcrypt
segno
Pillow

librosa
resemblyzer
openpyxl
plotly

mediapipe==0.10.14
opencv-python-headless==4.10.0.84

streamlit-webrtc
av

cerebras-cloud-sdk